@font-face {
    font-family: Susan;
    src: url("font/SSN75.otf") format("opentype");
}

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    position: relative;
    width: 100%;
    height: 100vh;
    font-weight: 700;
    font-family: Susan;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    /* max-width: 768px; */
    height: 100%;
    /* max-height: 500px; */
    background: no-repeat center url("img/bg.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.monster {
    position: absolute;
    width: 100%;

    bottom: 0;
    left: 0;
    
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 5px 0 0 0;
}

.main__logo {
  
    width: 50%;
    /* background: no-repeat center url("img/logo.png");
    background-size: contain; */
    margin-bottom: 15px;
}

.main__title {
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.80);
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;

}

.main__store {
    padding: 10px 40px;

    cursor: pointer;
    background: linear-gradient(180deg, #FFBF43 0%, #FF8C21 100%);
    border: 1px solid #FFD391;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 12px #A65801;

    border-radius: 10px;
    margin: 25px 0 5px 0;
    transition: .15s;
}

.main__store:active{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 12px #512B00
}

@media screen and (max-width: 650px) {



}
@media (orientation: landscape) {
    .main {
        width: 40%;
        height: 100%;
    }
    .main__title {
        font-size: 8vh;
        line-height: 8vh;
    }
    .main__logo{
        width: 100%;
    }

    .main__store{
        font-size: 6vh;
        line-height: 6vh;
    }
    .monster {
        width: 40%;
    }
}
  
@media (orientation: portrait) {
    .main {
        width: 100%;
        height: 50%;
    }
    .main__logo{
        width: 50%;
    }
    .main__title {
        font-size: 9vw;
        line-height: 9vw;
    }
    .main__store{
        font-size: 7vw;
        line-height: 7vw;
    }

    .monster {
        display: none;
    }

}